
TK Game Jam 2018/ProjectSettings/ProjectSettings\.asset

TK Game Jam 2018/ProjectSettings/ProjectVersion\.txt

TK Game Jam 2018/ProjectSettings/DynamicsManager\.asset

TK Game Jam 2018/ProjectSettings/QualitySettings\.asset

*.meta
